<html xmlns:th="https://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="/scripts/register.js" defer></script>

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/signin.css">
    <title>Register - Social To-Do</title>
</head>

<body>
    <form class="form-signin" id="registerForm" action="/register" method="POST" onsubmit="return validateForm();">
		<label class="sr-only" for="username">Username:</label>
		<input class="form-control" type="text" id="username" placeholder="Username">
		<br><br>
		<label class="sr-only "for="password">Password:</label>
		<input class="form-control" type="password" id="password" placeholder="Password">
		<br><br>
        <label class="sr-only "for="confirmPassword">Confirm Password:</label>
		<input class="form-control" type="password" id="confirmPassword" placeholder="Confirm Password">
        <br><br>
		<input class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
        <br>
        <p class="text" id="mismatchError"></p>
	</form>
</body>
</html>